#root {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  font-size: 1.2em;
}

.input-add-todo {
  width: 80%;
  border-radius: 5px;
  border: solid 2px #d0d3d9;
  padding-left: 10px;
}

.add-button {
  margin-left: 30px;
  color: #fff;
  background-color: rgb(15, 132, 210);
  width: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.7em;
  font-weight: bold;
}
.container-input {
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;

  border-radius: 5px;
  max-width: 700px;
  margin: 15px;
  padding: 15px;
}

.container-blok {
  display: flex;
  justify-content: space-between;
}
.button-clear {
  background-color: rgb(220, 75, 75);
  color: white;
  border: none;
  width: 80px;
  height: 50px;
  border-radius: 5px;
}

h1 {
  margin: 20px;
  display: flex;
  justify-content: center;
}
